* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div {
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  margin: 5rem;
}

.black {
  color: black;
}

.green {
  color: green;
}

.red {
  color: red;
}
